
body {
  font-family: Arial, sans-serif;
  background: hsl(305, 93%, 40%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
}

.container {
  display: flex;
  gap: 30px;
}

.form-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px;
  background: #ff00f2ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background: #751c62;
}
