
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #a70999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  position: relative;
}

.form-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: 0.3s;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-box form input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.form-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #a7109f;
  color: rgb(223, 214, 223);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-box p {
  text-align: center;
  margin-top: 15px;
}

.form-box a {
  color: blue;
  text-decoration: none;
}

/* SHOW LOGIN BY DEFAULT */
#login {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

/* WHEN URL TARGETS SIGNUP */
#signup:target {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

/* HIDE LOGIN WHEN SIGNUP ACTIVE */
#signup:target ~ #login {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}
